<div
  id="alert"
  hx-swap-oob="true"
  class="fixed top-20 z-50 max-w-[300px] alert !flex left-[50%] -translate-x-[50%] animate-show-alert opacity-0 rounded-lg text-center font-semibold
   {{ if eq .Type "success" }}
    alert-success
  {{ else if eq .Type "info" }}
    alert-info
  {{ else if eq .Type "error" }}
    alert-error
  {{ end -}}
  {{ if .Message }}
    visible
  {{ else }}
    invisible
  {{ end }}"
>
  <span id="alert-text" class="text-center w-full">{{ .Message }}</span>
</div>
