<button class="flex items-center gap-3 p-4 {{ if .IsAuthor }} hover:bg-slate-800 {{ end }}"
	{{ if .IsAuthor }}  hx-delete="/posts/{{ .ID }}/comment" {{ end }}
	hx-swap="delete"
>

	{{ template "partials/avatar" .User }}

	<div class="flex-grow flex justify-between">
		<div>{{ .Body }}</div>
		<div>{{ .CreatedAt }}</div>
	</div>
</button>
