<button
  x-data='{
      method :
    {{ if .Followed }}
    "DELETE"
  {{ else }}
    "POST"
  {{ end }}
    ,
    follow() {
      htmx.ajax(this.method, "/users/{{ .ID }}/follow", { swap: "none"})
    },

    updateElement(event) {
        if ({{ .ID }} === event.detail.followeeID) {
          this.$refs.button.innerHTML = event.detail.buttonText;
          this.$refs.button.classList.toggle("!bg-primary");
          this.$refs.button.classList.toggle("!text-base-100");

          if (this.method === "POST") {
            this.method = "DELETE";
           } else {
            this.method = "POST";
          }
        }
      }
  }'
  x-ref="button"
  @update-follow-count.window="updateElement($event)"
  @click="follow()"
  class="btn font-semibold !border-primary text-xs min-h-0 h-9   {{ if .Followed }}
    !bg-primary !text-base-100
  {{ end }}"
>
  {{ if .Followed }}
    Following
  {{ else }}
    Follow
  {{ end }}
</button>
