<button
  type="button"
  class="flex items-center gap-2"
  hx-swap="outerHTML"
  {{ if .Liked }}
    hx-delete="/posts/{{ .ID }}/like?count={{ .LikeCount }}"
  {{ else }}
    hx-post="/posts/{{ .ID }}/like?count={{ .LikeCount }}"
  {{ end }}
>
  {{ template "partials/heartSVG" .Liked }}
  <span class="text-sm"
    >{{ if .Liked }}
      Liked post
    {{ else }}
      Like post
    {{ end }}</span
  >
  <div
    class="badge {{ if .Liked }}
      badge-primary
    {{ else }}
      badge-neutral
    {{ end }}"
  >
    {{ .LikeCount }}
  </div>
</button>
