<div
  id="navbar"
  hx-swap-oob="true"
  class="navbar justify-center fixed top-0 bg-base-200  border-b z-10
         before:content-normal before:absolute before:w-full before:h-6 before:bg-gradient-to-b from-base-100 from-40%  before:top-[calc(100%+1px)]"
>
  <div
    id="bottom-navigation-links"
    class="fixed  bottom-0 w-full z-10 flex md:hidden bg-base-200 [&_a]:flex-grow [&_a]:text-center border-t [&_a]:py-3 [&_a]:font-semibold"
  >
    {{ template "nav-links" . }}
  </div>

  <div class="flex w-full justify-between container gap-3 px-3 lg:px-0">
    <a class="link-primary font-bold text-2xl" href="/" hx-boost="true"
      >Stacky</a
    >

    <div
      id="navigation-links"
      class="tabs tabs-boxed hidden  md:flex gap-1 !border-primary [&_a]:tab [&_a]:link-neutral [&_a]:rounded-md "
    >
      {{ template "nav-links" . }}
    </div>

    <div class="flex gap-3">
      {{ if .AuthUser.Authenticated }}
        <div class="dropdown dropdown-end">
          <label
            tabindex="0"
            class="btn btn-ghost btn-primary btn-circle avatar"
          >
            {{ if .AuthUser.Avatar }}
              <div class="w-10 rounded-full">
                <img src="{{ .AuthUser.Avatar }}" />
              </div>
            {{ else }}
              <div class="avatar placeholder">
                <div
                  class="bg-neutral-focus text-neutral-content rounded-full w-9"
                >
                  <span class="text-md"
                    >{{ slice .AuthUser.Username 0 1 }}</span
                  >
                </div>
              </div>
            {{ end }}
          </label>
          <ul
            tabindex="0"
            class="mt-4 z-[1] p-2 shadow menu menu-md dropdown-content gap-1 [&>li>a]:px-4 rounded-box w-max"
          >
            <li>
              <a
                class="link-neutral cursor-pointer"
                href="/u/{{ .AuthUser.Username }}"
                hx-boost="true"
                >Profile</a
              >
            </li>
            <li>
              <a
                class="link-neutral cursor-pointer"
                hx-post="/auth/logout"
                hx-swap="none"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      {{ else }}
        <a class="btn btn-primary btn-ghost" href="/login" hx-boost="true"
          >Sign in</a
        >
      {{ end }}
    </div>
  </div>
</div>

{{ block "nav-links" . }}
  <a
    id="-tab"
    class="
    {{ if not .AuthUser.Authenticated }}disabled-link{{ end }}
    {{ if eq .Path "/" }}tab-active{{ end }}
    "
    {{ if .AuthUser.Authenticated }}href="/" hx-boost="true"{{ end }}
    >Follows</a
  >
  <a
    id="discover-tab"
    class="{{ if eq .Path "/discover" }}tab-active{{ end }}"
    href="/discover"
    hx-boost="true"
    >Discover</a
  >
  <a
    id="create-tab"
    class="
    {{ if not .AuthUser.Authenticated }}disabled-link{{ end }}
    {{ if eq .Path "/create" }}tab-active{{ end }}
    "
    {{ if .AuthUser.Authenticated }}href="/create" hx-boost="true"{{ end }}
    >Create</a
  >
{{ end }}
