<div class="flex flex-col items-center w-full">
  <svg
    viewBox="0 0 24 24"
    class="w-32 h-32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="stroke-neutral"
      d="M16 8L8 16M8.00001 8L16 16M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
  <p class="text-neutral font-semibold text-4xl">No posts yet</p>
</div>
