<div
  {{ if and .IsLast (not .LastPage) }}
    hx-get="/posts?page={{ .Page }}" hx-trigger="revealed" hx-swap="afterend"
  {{ end }}
  class="card w-full xs:w-xs max-w-xs !rounded-none xs:!rounded-lg bg-base-200 !border-0 !border-y xs:!border shadow-xl hover:shadow-2xl transition-all !outline-none overflow-hidden"
>
  <div class="p-4 flex justify-between items-center">
    {{ template "partials/avatar" .User }}
    {{ template "partials/followButton" .User }}
  </div>

  <a href="/post/{{ .ID }}" hx-boost="true">
    <img
      src="{{ .Image }}"
      alt="Shoes"
      class="w-full aspect-square cursor-pointer"
    />
  </a>

  <div class="flex items-center">
    {{ if .Description }}
      <p class="p-4">{{ .Description }}</p>
    {{ end }}
    <span class="ml-auto p-4"> {{ template "partials/likeButton" . }}</span>
  </div>
</div>
