<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}' />
    <meta name="description" content="{{ .PageDetails.Description }}" />
    <title>{{ .PageDetails.Title }}</title>
    <link rel="stylesheet" href="/public/assets/app.css" />
    <link rel="stylesheet" href="/cropperjs/cropper.min.css" />
    <script defer src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script type="module" defer src="/public/js/htmx/htmx.js"></script>
    <script src="/cropperjs/cropper.js"></script>
    <script defer src="/alpinejs/cdn.js"></script>
  </head>
  <body>
    <div id="alert"></div>
    
    <header id="header">
      {{ template "partials/navbar" .AuthUser }}
    </header>
    
    <main id="content" hx-ext="reset-on-success">
      {{ embed }}
    </main>
  </body>
</html>
