<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/assets/app.css" />
    <title>Document</title>
  </head>
  <body hx-ext="reset-on-success">
    {{ embed }}

    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="/public/js/htmx/extensions.js"></script>
  </body>
</html>
