<div class="page">
  {{ if .Posts }}
  <div class="flex flex-col gap-20 items-center pb-24" id="posts-list">
    {{ template "partials/postList" .Posts }}
  </div>
{{ else }}
  <p class="text-center">No posts found!</p>
{{ end }}

</div>