@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-neutral;
}

.btn-primary {
  @apply bg-primary text-white;
}

.tabs-boxed {
  @apply border bg-base-300;
}

.tab {
  @apply hover:bg-base-400 font-semibold;
}

.tab-active {
  @apply !text-base-100 border !bg-primary !border-primary;
}

.menu {
  @apply bg-base-200 border;
}

.card {
  @apply bg-base-200 border rounded-xl;
}

.container {
  @apply mx-auto px-4;
}

.border,
.border-t,
.border-r,
.border-b,
.border-l,
.border-x,
.border-y {
  @apply border-base-400;
}

.btn.btn-primary.btn-ghost {
  @apply border-primary hover:bg-primary;
}

.btn.btn-secondary.btn-ghost {
  @apply border-secondary hover:bg-secondary;
}

.btn.btn-accent.btn-ghost {
  @apply border-accent hover:bg-accent;
}

.centered {
  @apply fixed top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%];
}

.md-centered {
  @apply md:!fixed md:!top-[50%] md:!-translate-y-[50%] md:!left-[50%] md:!-translate-x-[50%];
}

.disabled-link {
  @apply !text-slate-500 hover:text-slate-500 !cursor-default;
}

.page {
  @apply pt-24 md:pt-32 pb-20 min-h-screen mx-auto max-w-[800px];
}

.small-page {
  @apply pt-24 md:pt-32 pb-20 min-h-screen flex flex-col gap-3 mx-auto px-4 !max-w-[600px];
}

.page-heading {
  @apply text-center text-2xl font-semibold pb-6 mb-6 border-b;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background: #666666;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.htmx-disappear {
  z-index: 1;
  opacity: 1;
  transition: opacity 50ms ease-out;
}
.htmx-request .htmx-disappear {
  opacity: 0;
}
.htmx-request.htmx-disappear {
  opacity: 0;
}
