@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-neutral
}

.btn {
    @apply border text-neutral
}

.tabs-boxed {
    @apply border bg-base-300
}

.tab {
    @apply hover:bg-base-400
}

.tab-active {
    @apply !bg-base-400 !text-neutral border !border-primary
}

.menu {
    @apply bg-base-200 border
}

.card {
    @apply bg-base-200 border rounded-xl
}

.container {
    @apply mx-auto max-w-[1200px]
}

.border, .border-t, .border-r, .border-b, .border-l {
    @apply border-base-400
}

.btn.btn-primary.btn-ghost {
    @apply border-primary hover:bg-primary
}

.btn.btn-secondary.btn-ghost {
    @apply border-secondary hover:bg-secondary
}

.btn.btn-accent.btn-ghost {
    @apply border-accent hover:bg-accent
}

.centered {
    @apply fixed top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] 
}

::-webkit-scrollbar {
     width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #b3b3b3; 
}

::-webkit-scrollbar-thumb {
    background: #666666; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}