@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply border text-neutral
}

.tabs-boxed {
    @apply border bg-base-300
}

.tab-active {
    @apply !bg-base-400 !text-neutral
}

.menu {
    @apply bg-base-200 border
}

.card {
    @apply bg-base-200 border rounded-xl
}

.container {
    @apply mx-auto max-w-[1200px]
}

.border, .border-t, .border-r, .border-b, .border-l {
    @apply border-base-400
}

::-webkit-scrollbar {
     width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #b3b3b3; 
}

::-webkit-scrollbar-thumb {
    background: #666666; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}